@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark-greyish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-greyish-blue: hsl(212, 23%, 69%);
    --color-light-greyish-blue: hsl(212, 23%, 69%);

    --font-family-manrope: "Manrope", serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}